<%= stylesheet_link_tag "application", "nav_style.css" ,:media => "all" %>
<div class="container">
<br>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn_kloc1" data-toggle="collapse" data-target="#step1">What modifications does the app make to my store?
                <i class="glyphicon glyphicon-play pull-right"></i>
            </button>
            <div id="step1" class="collapse">
                <div class="panel">
                    <p>Our app simply syncs products and variants from your store.It checks(with the local or global threshold) that you specified and notifies you through an email,a link to download the report of products or variants that are running out of stock.</p>
                </div>
            </div>
                        
            
            <button type="button" class="btn btn_kloc1" data-toggle="collapse" data-target="#step2">Am I at risk of losing any data?
                <i class="glyphicon glyphicon-play pull-right"></i>
            </button>
            <div id="step2" class="collapse">
                <div class="panel">
                    <p>No way. We operate outside your Shopify store and just interact with the store to check the present inventory of the products and variants.</p>
                </div>
            </div>
                        
            <button type="button" class="btn btn_kloc1" data-toggle="collapse" data-target="#step3">How do I set up thresholds in LINA?
                <i class="glyphicon glyphicon-play pull-right"></i>
            </button>
            <div id="step3" class="collapse">
                <div class="panel">
                    <p>In our first version, we have kept it really simple.
                    You can set the threshold limit for all product and variants in configuration pannel(global threshold limit).
                    To set different threshold for different product or variants,please go through the setup instructions in home pannel.</p>
                </div>
            </div>
                      
            <button type="button" class="btn btn_kloc1" data-toggle="collapse" data-target="#step4">How often can LINA notify me?
                <i class="glyphicon glyphicon-play pull-right"></i>
            </button>
            <div id="step4" class="collapse">
                <div class="panel">
                    <p>LINA notifies you based on the alert frequency you have set in the configuration pannel. </p>
                </div>
            </div>
                      

            <button type="button" class="btn btn_kloc1" data-toggle="collapse" data-target="#step5">How do I get notified?
                <i class="glyphicon glyphicon-play pull-right"></i>
            </button>
            <div id="step5" class="collapse">
                <div class="panel">
                    <p>You will receive an email on the email id you specified in configuration pannel and the email ids if specified in multiple email pannel.You can click on the link and download the report of products running out of stock.You can also download the report from app panel.</p>
                </div>
            </div>
                      
            
            <button type="button" class="btn btn_kloc1" data-toggle="collapse" data-target="#step6">How do my products get synced with the app?
                <i class="glyphicon glyphicon-play pull-right"></i>
            </button>
            <div id="step6" class="collapse">
                <div class="panel">
                    <p>As soon as you install the app in your store,all the product and variants get synced.</p>
                </div>
            </div>
                      
                
            <button type="button" class="btn btn_kloc1" data-toggle="collapse" data-target="#step7">I have an idea or need a tweak – will you consider it?
                <i class="glyphicon glyphicon-play pull-right"></i>
            </button>
            <div id="step7" class="collapse">
                <div class="panel">
                    <p>Of course. We are always open to ideas and suggestions and would love to help you if your request can be accommodated in our product architecture. Contact us through the Helpdesk link given on this panel.</p>
                </div>
            </div>
                        
        </div>
        <div class="col">
            <div class="col-md-6 card_shadow" style="margin-left: 30%;">
                <h3 style="color:#5C6AC4">Question? Suggestion? Feedback?</h3>
                <a href="https://helpdesk.klocapps.com/" class="btn" target="_blank">Contact Help Desk</a>
            </div>
        </div>
    </div>
</div>

