<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-2">
              <div class="Campaign_Overview__Block__Number">
                1 
              </div>
            </div>
            <div class="col">
              <h4 class="heading-kloc">General Information</h4>
            </div>
          </div>
          <div class="row">
            <p class="heading-kloc" >This app will send you report of items whose inventory falls below a threshold in your store.
            Once you install the app, products and variants of your store get synced to the app. This might take some time. You will receive a mail once all they are synced.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-2">
              <div class="Campaign_Overview__Block__Number">
                2 
              </div>
            </div>
            <div class="col">
              <h4 class="heading-kloc">Configuration Panel</h4>
            </div>
          </div>
          <div class="row">
            <p class="heading-kloc">The first thing you need to do is configure the app. Click on "Configuration" panel.Here,you be configuring two things to get started,namely, 
              <ul> 
                <li><b>"Global Threshold"</b>-This is the generic value by which inventory of all the products and its variants will be compared to for low stock.</li>
                <li><b>"Alert Frequency"</b>-This is the time lapse in which you want to receive the report for low stock inventory through email.</li>
              </ul>
              Once you are done with configuration,you can add multiple email ids on which you would like to receive low stock inventory report.
              <b>NOTE:</b>Primarily you would receive the emails to admin email id of your store.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>   
    <br>
    <br>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-2">
              <div class="Campaign_Overview__Block__Number">
                3
              </div>
            </div>
            <div class="col">
              <h4 class="heading-kloc">Products Panel</h4>
            </div>
          </div>
          <div class="row">
            <p class="heading-kloc">Once all the products and variants are synced, you can view them in this panel. Initially, the threshold will be the generic threshold that all items will be compared to. Nonetheless,you can change this threshold for desired variants. This can be done in two ways:
              <ul> 
                <li><b>Edit Icon</b>-Search for a product/variant and click on <i class="fa fa-pencil-square-o" aria-hidden="true"></i> icon, change threshold to a desired value and click on <i class="fa fa-check" aria-hidden="true"></i>.</li>
                <li>Click on "Download Csv" button. This will give you a csv file. Sample- /CSVFILELINKHERE/. Edit ONLY the desired threshold and save the file. On Products panel, click on "Upload CSV" and select the edited file and upload it.</li>
              </ul>
              <b>NOTE:</b>The quantity of products and variants will be compared to the thresholds set by you.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-2">
              <div class="Campaign_Overview__Block__Number">
                4
              </div>
            </div>
            <div class="col">
              <h4 class="heading-kloc">Reports Panel</h4>
            </div>
          </div>
          <div class="row">
            <p class="heading-kloc">You will primarily receive the low stock report on the email ids that you added and are active and your store's admin email id. However,you can download reports manually from this panel.<br/>
              <b>NOTE:</b>All reports prior to 15 days will not be shown.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>