<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="Campaign_Overview__Block">
            <div class="Campaign_Overview__Block__Number">
              1
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
             <div class="Campaign_Overview__Block">
            <div class="Campaign_Overview__Block__Number">
              2
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="Campaign_Overview__Block">
            <div class="Campaign_Overview__Block__Number">
              3
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="Campaign_Overview__Block">
            <div class="Campaign_Overview__Block__Number">
              4
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>