
    <div class="container">
  
        <div class="row">
        <div class="col">
          <div class="card">
          <div class="card-body">
          <div class="Campaign_Overview__Block">
          <div class="Campaign_Overview__Block__Number">1</div></div>
        <%
=begin%>
 <h2 class=" card-link btn btn-primary">Step 1:What happens when you install the app?</h2> 
<%
=end%>
        </div>
        </div>
        </div>
         <div class="col">
         <div class="card">
        <div class="card-body">
        <h2>Step 2: Creating Configuration.
        </div>
        </div>
        </div>
        </div>
        </div>