.btn{
  background-color: #2D2B75;
  color: white;
}

.editbtn,.editbtn:hover,.editbtn:focus,.editbtn:active {
  background-color: #2D2B75;
  color: white;
  float: right;
}
.backbtn,.backbtn:hover,.backbtn:focus,.backbtn:active{
  background-color: #2D2B75;
  color: white;
  float: right;
}
.back-btn,.back-btn:hover,.back-btn:focus,.back-btn:active{
  background-color: #2D2B75;
  color: white;

}
.back_btn,.back_btn:hover,.back_btn:focus,.back_btn:active{
  background-color: #2D2B75;
  color: white;
}
.editbtn,.editbtn:hover,.editbtn:focus,.editbtn:active{
  background-color: #2D2B75;
  color: white;
  float: right;
}
.edit_btn,.edit_btn:hover,.edit_btn:focus,.edit_btn:active{
  background-color: #2D2B75;
  color: white;
  float: right;
  margin-bottom: 10px;
}
.import-btn,.import-btn:hover,.import-btn:focus,.import-btn:active{
  background-color: #2D2B75;
  color: white;
  float: left;
  margin-bottom: 10px;
}
.show_btn,.show_btn:hover,.show_btn:focus,.show_btn:active{
  background-color: #2D2B75;
  color: white;
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
}
.showbtn,.showbtn:hover,.showbtn:focus,.showbtn:active{
  background-color: #2D2B75;
  color: white;
  float: right;
  margin-right: 10px;
}
.submit_btn,.submit_btn:hover,.submit_btn:focus,.submit_btn:active{
  color: #fff;
  background: #2e2c75;
  border-color: #2e2c75;
}
.submit-btn,.submit-btn:hover,.submit-btn:focus,.submit-btn:active{
  color: #fff;
  background: #2e2c75;
  border-color: #2e2c75;
}
.export-csv-btn,.export-csv-btn:hover,.export-csv-btn:focus,.export-csv-btn:active{
  color: #fff;
  background: #2e2c75;
  border-color: #2e2c75;
}

.import-csv-btn,.import-csv-btn:hover,.import-csv-btn:focus,.import-csv-btn:active{
  color: #fff;
  background: #2e2c75;
  border-color: #2e2c75;
}

.add_email_btn,.add_email_btn:hover,.add_email_btn:focus,.add_email_btn:active{
  color: #fff;
  background: #2e2c75;
  border-color: #2e2c75;
  float: right;
  margin-bottom: 10px;
}
.remove_email_btn, .remove_email_btn:hover, .remove_email_btn:focus, .remove_email_btn:active{
  color: #fff;
  background: #2e2c75;
  border-color: #2e2c75;
}
.choose_file_btn,.choose_file_btn:hover,.choose_file_btn:focus,.choose_file_btn:active{
  background-color: #2D2B75;
  color: white;
}
.choose_file_btn,.choose_file_btn:hover,.choose_file_btn:focus,.choose_file_btn:active{
  background-color: #2D2B75;
  color: white;
}
.upload_file_submit,.upload_file_submit:hover,.upload_file_submit:focus,.upload_file_submit:active{
  background-color: #2D2B75;
  color: white;
  margin-bottom: 20px;
}