/* top_navbar */
.top-bar.navbar-default {
    padding: 10px 0;
}
.top-bar.navbar-default ul.list-inline {
    margin: 0;
}
.top-bar.navbar-default {
    padding: 10px 0;
    /* background: #2d2b75; */
    color: #000000;
}
.top-bar.navbar-default a {
    color: #000000;
    font-size: small;
}
.navbar-expand-lg {
    background-color: #F9F9F9;
}
 .nav-link{
    font-weight: bold;
}
.heading-kloc{
    font-family: varela;
}
.top-bar.navbar-default a:hover {
    background: none;
    text-decoration: none;
}
.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 10px;
}
.list-inline>li i{
    font-size: 20px;

}
h3{
    font-family: varela;
}
/* navbar */
.navbar{
    padding: 10px 0px;
}
.navbar-nav .nav-link{
    color: #2d2b75;
    font-family: varela;
}
.navbar-nav .nav-link:hover, .navbar-light .navbar-nav .active{
    color: #fff !important;
    background-color: #2d2b75;
    border-radius: 0.25rem;
}
.navbar-toggler{
    border: none;
}
.header-style{
    background-color: #2d2b75;
    color: #ffff;
}

.card_shadow{
    box-shadow: 0px 0px 10px 0px #0000004d;
    margin: 30px 0;
    padding: 30px;
    border-radius: 10px;
}
.card-body{
    box-shadow: 10px 10px 5px #2d2b75;
    height: 13rem;
    overflow-y: scroll;
}
 .Campaign_Overview__Block__Number {
    background: #AED25D;
    border-radius: 50%;
    text-align: center;
    height: 35px;
    width: 35px;
    padding-top: 6px;
    color: #2d2b75;
    font-size: 18px;
}

/* media */
@media screen and (max-width: 800px) and (min-width: 480px){
    .nav-link{
        text-align: center;
    }
    .form-group label{
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) and (min-width: 300px){
.list-inline>li {
    float: left;
    margin-left: 0px;
}
.navbar-light .navbar-nav .nav-link{
    text-align: left;
    color: #2d2b75;
}

}
@media screen and (max-width: 550px) and (min-width: 300px){
    li.paginate_button.page-item a.page-link {
        font-size: 12px;
        padding: 7px 7px;
    }

}


.btn-primary {
    background-color: #2d2b75;
    border-color: #2d2b75;
}
.btn_kloc1{
    background-color: #2d2b75;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    margin: 2px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    white-space:inherit !important; 
}
.btn_kloc1:hover,.btn_kloc1:active,.btn_kloc1:focus{
    color: white;

}
.panel {
    background-color: white;
    overflow: hidden; 
    margin-bottom: 0px!important;
    margin-left: 10px;
    
}
.pull-right{
    float: right;
}

.btn,.btn:hover,.btn:active,.btn:focus{
    background-color: #2d2b75;
    color: white;
}