/* top_navbar */
.top-bar.navbar-default {
    padding: 10px 0;
}
.top-bar.navbar-default ul.list-inline {
    margin: 0;
}
.top-bar.navbar-default {
    padding: 10px 0;
    background: #2d2b75;
    color: #fff;
}
.top-bar.navbar-default a {
    color: #fff;
}
.top-bar.navbar-default a:hover {
    background: none;
    text-decoration: none;
}
.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
/* navbar */
.navbar{
    padding: 10px 0px;
}
.navbar-light .navbar-nav .nav-link{
    color: #000;
    font-size: 15px;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .active{
    color: #fff !important;
    background-color: #2d2b75;
    border-radius: 0.25rem;
}
.navbar-light .navbar-toggler{
    border: none;
}

.card_shadow{
    box-shadow: 0px 0px 10px 0px #0000004d;
    margin: 30px 0;
    padding: 30px;
    border-radius: 10px;
}
.card-body{
    box-shadow: 10px 10px 5px #2d2b75;
    height: 10rem;
}
.Campaign_Overview__Block .Campaign_Overview__Block__Number {
    background: #008000;
    border-radius: 50%;
    text-align: center;
    height: 35px;
    width: 35px;
    padding-top: 6px;
    color: #fff;
    font-size: 18px;
}

/* media */
@media screen and (max-width: 800px) and (min-width: 480px){
    .nav-link{
        text-align: center;
    }
    .form-group label{
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) and (min-width: 300px){
.list-inline>li {
    float: left;
    margin-left: 0px;
}
.navbar-light .navbar-nav .nav-link{
    text-align: left;
    color: #2f2c75;
    }

}
@media screen and (max-width: 550px) and (min-width: 300px){
    li.paginate_button.page-item a.page-link {
        font-size: 12px;
        padding: 7px 7px;
    }

}
