thead{
  background-color: #2D2B75;
  color: white;
}
th{
  text-align: center;
}
.page-item.active .page-link {
  background-color: #2D2B75;
  border-color: #2D2B75 ;
}
div.dataTables_wrapper div.dataTables_length label {
  float: left;
}
div.dataTables_wrapper div.dataTables_info {
  float: left;
}
@media screen and (max-width: 480px) and (min-width: 300px){
  div.dataTables_wrapper div.dataTables_length label {
    margin-top: 10px;
    margin-left: 63px;
  }
}