thead{
  font: varela;
} 
th{
  text-align: center;
}
div.dataTables_wrapper div.dataTables_length label {
  float: left;
}
div.dataTables_wrapper div.dataTables_info {
  float: left;
}
@media screen and (max-width: 480px) and (min-width: 300px){
  div.dataTables_wrapper div.dataTables_length label {
    margin-top: 10px;
    margin-left: 63px;
  }
}