  thead{
    background-color: #2D2B75;
    color: white;
  }
  th{
    text-align: center;
  }
  .page-item.active .page-link {
    background-color: #2D2B75;
    border-color: #2D2B75 ;
  }
  div.dataTables_wrapper div.dataTables_length label {
    float: left;
  }
  div.dataTables_wrapper div.dataTables_info {
    float: left;
  }

  #snackbar-success  {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color:#008000;
    color: #fff;
    text-align: center; 
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  #snackbar-error  {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color:	#FF0000;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #snackbar-success.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  #snackbar-error.show{
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  #snackbar-success-email  {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color:#008000;
    color: #fff;
    text-align: center; 
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  #snackbar-error-email  {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color:	#FF0000;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #snackbar-success-email.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  #snackbar-error-email.show{
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }


  #snackbar-success-email-delete  {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color:#008000;
    color: #fff;
    text-align: center; 
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  #snackbar-error-email-delete  {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color:	#FF0000;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #snackbar-success-email-delete.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  #snackbar-error-email-delete.show{
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  #export-csv-notification {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color:#008000;
    color: #fff;
    text-align: center; 
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  #export-csv-notification.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }


  #import-csv-success  {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color:#008000;
    color: #fff;
    text-align: center; 
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  #import-csv-error  {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color:	#FF0000;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #import-csv-success.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  #import-csv-error.show{
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  #configuration-success  {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color:#008000;
    color: #fff;
    text-align: center; 
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  #configuration-error  {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color:	#FF0000;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #configuration-success.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  #configuration-error.show{
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }


  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

@media screen and (max-width: 480px) and (min-width: 300px){
  div.dataTables_wrapper div.dataTables_length label {
    margin-top: 10px;
    margin-left: 63px;
  }
}