<%= stylesheet_link_tag "application", "table_style.css" ,:media => "all" %>  
<div class="container text-center" style="margin-bottom:20">
  <h3><b>Reports List</b></h3>
</div>
<div class="container text-center" style="margin-bottom:20">    
    <div class="table-responsive">
      <table id="reports-datatable" data-source="<%= reports_index_path(format: :json) %>" class="table table-bordered table-striped">
        <thead>
          <th>Created At</th>
          <th>Download</th>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
</div>
<script>
  jQuery(document).ready(function() {
    $('#reports-datatable').dataTable({
      "processing": true,
      "serverSide": true,
      "columnDefs": [{ "orderable": false, "targets": -1 }],
      "ajax": $('#reports-datatable').data('source'),
      "pagingType": "full_numbers",
      "columns": [
        {"data": "created_at"},
        {"data": "download"}
      ]
    });
  });
</script>
